.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
aminclude_static.am
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
src/.dirstamp
src/.libs/
src/*.lo
tpm2.la
test-driver
test/.dirstamp
test/*.o
test/*.trs
test/selftest
tpm2-openssl-*-coverage.info
tpm2-openssl-*-coverage/
NVChip
VERSION

# Visual C++ files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.log
*.user
*.filters
*/Release/*
*/Debug/*
Release/*
Debug/*
.vs/