name: gcc-distcheck
on:
  [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        branch: [openssl-3.0, master]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: sudo apt-get install autoconf-archive lcov libtss2-dev libtss2-tcti-tabrmd0 tpm2-abrmd tpm2-tools

    - name: Build TPM2 simulator
      run: |
        wget --no-verbose https://downloads.sourceforge.net/project/ibmswtpm2/ibmtpm1637.tar.gz
        mkdir ibmtpm
        tar xfz ibmtpm1637.tar.gz -C ibmtpm
        cd ibmtpm/src
        make

    - name: Build openssl
      run: |
        wget --no-verbose https://github.com/openssl/openssl/archive/$BRANCH.zip
        unzip -q $BRANCH.zip
        cd openssl-$BRANCH
        # disable all unnecessary features, without deprecated functions
        ./Configure no-deprecated no-aria no-async no-autoload-config no-bf \
                    no-blake2 no-cast no-chacha no-cms \
                    no-comp no-ct no-des no-dgram no-dh no-dsa no-ec2m \
                    no-filenames no-fips no-fips-securitychecks no-gost no-idea \
                    no-ktls no-makedepend no-md4 no-multiblock no-nextprotoneg \
                    no-ocb no-ocsp no-poly1305 no-psk no-rc2 no-rc4 no-rfc3779 \
                    no-rmd160 no-seed no-siphash no-siv no-sm3 no-sm4 no-srp \
                    no-srtp no-ssl3-method no-tests no-ts no-ui-console no-whirlpool
        make build_sw
        sudo make install_sw install_ssldirs
        sudo ldconfig /usr/local/lib64
      env:
        BRANCH: ${{ matrix.branch }}

    - name: Configure tpm2-openssl
      run: |
        ./bootstrap
        ./configure CC=gcc PKG_CONFIG_PATH=/usr/local/lib64/pkgconfig --enable-code-coverage --enable-debug

    - name: Build tpm2-openssl
      run: |
        make
        sudo make install

    - name: Start TPM2 simulator
      run: |
        export DBUS_SESSION_BUS_ADDRESS=`dbus-daemon --session --print-address --fork`
        echo "DBUS_SESSION_BUS_ADDRESS=$DBUS_SESSION_BUS_ADDRESS" >> $GITHUB_ENV
        ibmtpm/src/tpm_server &
        tpm2-abrmd --session --tcti mssim:host=localhost,port=2321 &
        echo "TCTI_ADDRESS=tabrmd:bus_name=com.intel.tss2.Tabrmd,bus_type=session" >> $GITHUB_ENV
        sleep 1

    - name: Run tests
      run: |
        openssl version
        tpm2_getcap properties-fixed | head -n 20
        make check
      env:
        TPM2TOOLS_TCTI: ${{ env.TCTI_ADDRESS }}
        TPM2OPENSSL_TCTI: ${{ env.TCTI_ADDRESS }}

    - name: Check code coverage
      run: |
        make check-code-coverage
      env:
        TPM2TOOLS_TCTI: ${{ env.TCTI_ADDRESS }}
        TPM2OPENSSL_TCTI: ${{ env.TCTI_ADDRESS }}

    - name: Submit code coverage
      uses: codecov/codecov-action@v1.2.1

    - name: Check the distribution
      # AM_DISTCHECK_CONFIGURE_FLAGS are not ready for clang and asan
      run: |
        make distcheck
      env:
        TPM2TOOLS_TCTI: ${{ env.TCTI_ADDRESS }}
        TPM2OPENSSL_TCTI: ${{ env.TCTI_ADDRESS }}

    - name: Archive log files
      if: ${{ success() || failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: test-report-gcc
        path: |
          *.log
          test/*.log
          test/*/*.log
          tpm2-openssl-*/_build/sub/test/*.log
          tpm2-openssl-*/_build/sub/test/*/*.log
